
body{
	background-color: #ccc;
	font-family: Arial, sans-serif;
	font-size: 90%;

}
img {
	display: inline-block;
	width: auto;
	background-color:white;
	position: relative;
	border:1px solid #999;
	margin:0px;
	padding:10px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 8px #777;
	overflow: hidden;
}
.container{
	background:url(../img/Emily.png) repeat; 
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}
.header{
	overflow: hidden;
	background:url(../img/background-3.png) no-repeat;
	background-size: 100% 100%;
	text-align: left;
	padding: 10px;
}
.text { 
	float: right;
	width: 35%;
	background:url(../img/My.png) no-repeat;
	background-size: 100% 100%;
	padding: 10px;
	font-family: Georgia-bold-italic,Arial, sans-serif; 
	border:2px solid;
	border-color: green;
	border-radius: 5px;
}
.address {
	float: left;
	width: 60%	
}
.address address{
	background:url(../img/temp1.png) no-repeat;
	background-size: 100% 100%;
	width: 200px;
	padding: 25px;
	border:2px solid;
	border-radius: 5px;
	border-color: green;

}
h2{ 
	font-size: 400%;
	color: blue;
	text-align: center;
	font-style: italic;
	color: yellow;
	margin: 5px;
}
h3 {
	font-size: 150%;
	font-family: italic;
	margin-bottom: 0px;
}
h4 {
	text-align: center;
	font-size: 200%;
	background-color:violet;
	color:white;
	margin: 0;
}
p{
	margin-left: 150px;
}
dl{margin-left: 150px;	
}
#education  dt{color: red;
}
#work-experience dt{
	color: red;
}
.jornal{
	color: red;
}
ul{margin-left: 150px;

}
ol{margin-left:150px;
}
.section {
	min-width: 300px;
	padding: 10px;
	padding-bottom: 0;
	clear: both;
}
#list-of-publications{
	padding-bottom:10px;
}
#list-of-publications ol li{
	padding-bottom:8px;
}
